<%= form_for @group do |f| %>
  <div class="form-group">
    <%= render 'shared/errors', object: @group %>
  </div>
  <div class="form-group">
    <%= f.label :image, "Group Picture" %> <br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :name %> <br>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :privacy %> <br>
    <%= f.select :privacy, Group::PRIVACY, prompt: "Select", class: "form-control" %>
  </div>
  <div class="form-group">
    <% if @group.new_record? %>
      <%= f.submit "Create Group", class: "btn btn-primary" %>
    <% else %>
      <%= f.submit "Update Group", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
<%= link_to "Cancel", root_path %>