<header>
  <h1>Add Photo</h1>
</header>

<%= form_for @photo do |f| %>
  <div class="form-group">
    <%= f.label :image %> <br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :caption %> <br>
    <%= f.text_field :caption, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit 'Add Photo', class: "btn btn-primary" %>
  </div>

<% end %>

<%= link_to 'Cancel', @photo.user %>