<div class="photo panel panel-default">
  <%= image_tag(@photo.image.url(:large)) %> <br> <br>
  <%= @photo.caption %> <br> <br>

  <% if current_user && (@photo.user == current_user) %>
    <%= link_to edit_photo_path(@photo) do %>
      <span class="glyphicon glyphicon-edit"></span>
      Edit
    <% end %>
    <%= link_to @photo, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <span class="glyphicon glyphicon-trash"></span>
      Delete
    <% end %>
  <% end %>

  <div class="panel-body">
  <% @comments.each do |comment| %>
  <hr>
    <div>
      <strong><%= comment.user.name if comment.user %></strong><br>
      <p><%= comment.body %></p>
      <p><%= comment.created_at %></p>
      <% if current_user && (comment.user == current_user) %>
        <%= link_to 'Delete', photo_comment_path(@photo, comment), method: :delete, data: { confirm: 'Are you sure?'} %>
      <% end %> 
    </div>
  <% end %>
    
  </div>

  <div class="panel-body">
    <%= form_for [@photo, @new_comment] do |f| %>
      <div class="form-group">      
        <%= f.text_area :body, cols: 75, rows: 2, class: "form-control" %> <br>
        <%= f.submit "Post Comment", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
